html,
body {
    margin: 0;
    padding: 0;
}


.main-header {
    background-image: url(https://poppiecotton.com/cdn/shop/files/popsicle-pink.jpeg?v=1694016332);
    /*background-color: rgba(0, 100, 0, .3); */
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: "Butterfly Kids";
    font-weight: normal;
    color: indianred;
}

.second-header{
    padding-bottom: 10px;
}
img{
    width: 100px;
    height: 100px;
}
.welcome{
    text-align: center;
    font-family: "Gamja Flower";
    font-size: 2em;
}



/*Section: Fonts*/
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
}
.gamja-flower-regular {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#card-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/*
.card {
 */
    /*width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    border-radius: 50%;
    width:500px;
    height:500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}
*/

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*sticker proportion of website*/
#sticker-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.theCard{
    width: 300px;
    height: 250px;
    perspective: 800px;
}

.theCard:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back{
    height:100%;
    width:100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front{
    background-image: url(https://media.istockphoto.com/id/1323033814/vector/cute-green-smiling-caterpillar-on-white-background.jpg?s=612x612&w=0&k=20&c=rAxPauRsQ0VyppEflvA2GHJeHwIWQc4t9zfgmJzsIpo=);
background-size: 300px;
 }
.back{
    backround-color: "green";
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

.second-footer{
    padding-bottom: 10px;
    margin-top: 40px;
}

.footer {
    display: flex;
    justify-content: center;

    background-image: url(https://www.buildmat.com.au/cdn/shop/articles/synthetic-grass-maintenance-and-installation.jpg?v=1711723355);
    padding: 30px;
}

button {
    text-align: center;
    background-color: #666;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}




