html,
body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-image: url("flower3.png");
    padding-bottom: 10px;
    background-size: cover;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: "Butterfly Kids";
    font-weight: normal;
    color: saddlebrown;
}

.second-header{
    padding-bottom: 10px;
}

.welcome{
    text-align: center;
    font-family: "Butterfly Kids";
    font-size: 2em;
}
.sub-welcome{
    text-align: center;
    font-family: "Gamja Flower";
    font-size: 1em;
}

/*Section: Fonts*/
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
}
.gamja-flower-regular {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.greenTeamContract{

}

.greenTeamRules{
    text-align: center;
    border-radius: 15px 50px 30px;
    background: darkseagreen;
    height: 200px;
    width: 50%;
    margin: auto;
    font-family: "Gamja Flower", sans-serif;
    font-size: 23px;
    color: saddlebrown;
    padding-top: 15px;
    box-shadow: 10px 10px grey;
}


/*Section: Member list*/
body{
    text-align: center;
    font-family: "Gamja Flower";
}
.row{
    background: cornflowerblue;
    margin: 2%;
    border-radius: 2rem;
}
.into{
    margin: 30px 0px;
    font-weight: bold;
}
h1{
    text-transform: uppercase;
    font-weight: 800;
}
p{
    font-weight: 600;
}
#first{
    margin-top:10px;
    color: floralwhite;
    font-size: 25px;
}

#enter{
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #04A1BF;
    background-color: #025F70;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    font-weight: normal;

}

#enter:hover{
    background-color: #02798F;
    color: #FFCD5D;
}
ul{
    text-align: left;
    font-color: "blue";
    margin-top:250px;
}
ul.new{
    margin-top: 15px;
    margin-left: 700px;
}
li.name{
    border: none;
    background: white;
    color: mediumslateblue;
    font-size: 32px;
padding: 0px 0px;
}
li.new{
    background: lavender;
    border: 2px solid mediumpurple;
    color: rebeccapurple;
    width: 450px;
}
li.blank{
    background: white;
    border: 2px solid white;
    color: white;
    height: 300px;
}
li.name:hover{
    background: lavender ;
}
li.new:hover{
    background: lightgoldenrodyellow;}
li.blank:hover{
background: white;
}

li{
    font-size: 20px;
    list-style: none;
    padding: 10px 20px;
    color: rebeccapurple;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #4EB9CD;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

li:hover{
    background: #76CFE0;
}


li > button{
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
}


input{
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border:none;
}
.done{
    background: #51DF70 !important;
    color:#00891E;
}
.delete{
    display: none;
}


#contract-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#memberList{
    margin-top: 3px;
}


#sticker-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.theCard {
    width: 550px;
    height: 350px;

    /*
    width: 300px;
    height: 250px;
     */
    perspective: 800px;
    padding: 5px;

    display: inline-block; /* Change from flex to inline-block */
    margin: 10px;
    position: relative; /* Enable positioning */
}



/* Example positioning for individual stickers */

.theCard:nth-child(2) {
    bottom: 1850px;
   /* bottom: 270px;*/

    .ref::before {
        font-weight: bold;
        color: navy;
        content: "";
    }
}
.theCard:nth-child(3) {
    bottom: 1318px;
    right: 570px;
    /*left: 250px;*/
}
.theCard:nth-child(4) {
    bottom: 1150px;
}
.theCard:nth-child(5) {
    bottom: 612px;
    right: 570px;
}

.theCard:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
    /*position: relative;*/
    transition: transform 1500ms;
    transform-style: preserve-3d;
    left:35%;
}

.front,
.back{
    height:100%;
    width:100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}


.front{
    background-size: 490px;
    background-position: center;

}
.back{
    //background-color: darkkhaki;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5rem;
    background-size: cover;
}


/*bottom portion of page*/
.second-footer{
    padding-bottom: 10px;
    margin-top: 80px;
}

.footer {
    display: flex;
    justify-content: center;

    background-image: url(https://www.buildmat.com.au/cdn/shop/articles/synthetic-grass-maintenance-and-installation.jpg?v=1711723355);
    padding: 30px;
}

.infoCards
{
    width: 50%;
}




