
:root{
    --badge: "M10.499.471c.893-.628 2.108-.628 3.002 0 2.142 1.506 1.682 1.362 4.335 1.354
    1.108-.004 2.091.682 2.429 1.696.813 2.427.527 2.052 2.679 3.544.899.623 1.275 1.733.928 2.744-.826 2.417-.83 1.953 0
    4.381.347 1.011-.029 2.121-.928 2.744-2.151 1.492-1.866 1.117-2.679 3.544-.338 1.014-1.321 1.7-2.429 1.697-2.654-.009-2.193-.153-4.335
    1.353-.894.629-2.109.629-3.002 0-2.143-1.505-1.682-1.363-4.335-1.353-1.108.003-2.091-.683-2.429-1.697-.812-2.43-.533-2.054-2.68-3.544-.898-.623-1.274-1.733-.927-2.744.827-2.418.83-1.953 0-4.381-.347-1.011.029-2.121.927-2.744 2.146-1.489 1.867-1.112 2.68-3.544.338-1.014
    1.321-1.7 2.429-1.696 2.646.008 2.18.161 4.335-1.354";
}
html,
body {
    margin: 0;
    padding: 0;
}


.main-header {
    background-color: rgba(0, 100, 0, .3);
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: "Butterfly Kids";
    font-weight: normal;
    color: white;
}



/*Section: Fonts*/
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
}

#card-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    /*width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;*/
    border-radius: 50%;
    width:500px;
    height:500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

button {
    text-align: center;
    background-color: #666;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}

.frame{
    height:300px;
    width:300px;
    position: relative;
    clip-path: path(var(--badge));
}


